* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Norse Bold', sans-serif;
}

#page {
    display: grid;
    grid-template-columns: 1.15fr 1.85fr;
    width: 67vw;
    height: 100vh;
    margin: 0px auto;
}

.logo {
    background: url('images/photo-1585202900225-6d3ac20a6962.avif') center center / cover no-repeat;
    position: relative;
}

.label {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.418);
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
}

.label p {
    font-size: 5rem;
    margin: 0;
    color: white;
    font-family: var(--font);
}

.label img {
    height: 115px;
    width: fit-content;
}

.heading {
    background-color: rgb(241, 241, 241);
    width: 100%;
    margin: 0;
    height: 36%;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.heading p {
    font-weight: bold;
    font-family: var(--font);
    font-size: 1.4rem;
    margin-top: 1rem;
}

.heading-input {
    font-weight: bold;
    font-family: var(--font);
    font-size: 1.6rem !important;
    margin-top: 10px !important;
}

.form-inputs {
    background-color: white;
    width: 100%;
    margin: 0;
    height: 32%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.068),
        0 4px 10px rgba(0, 0, 0, 0.096);

    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 1rem;
}

.btns {
    height: 32%;
    width: 100%;
    margin: 0;
    background-color: rgb(248, 247, 247);
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 25px;
    margin-bottom: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 20px;
    font-family: var(--font);
}

form label {
    font-weight: bold;
    color: rgb(83, 83, 83);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

form input {
    height: 32px;
    border-radius: 3px;
    border: 1px solid rgba(160, 160, 160, 0.692);
    padding-left: 10px;
    font-size: 1rem;
    font-family: var(--font);
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

input:invalid {
    outline: none;
    border: 2px solid red;
}

button {
    padding: 15px 50px;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: rgb(68, 104, 68);
    color: white;
    border-radius: 7px;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(1);
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(68, 102, 68, 0.3);
}

.form-inputs p {
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.05rem;
    margin-top: 30px;
}

.form-inputs a {
    color: rgb(68, 104, 68);
    cursor: pointer;
}

a:hover {
    color: rgb(112, 163, 112);
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}